body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

header img {
    height: 70px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    padding: 0;
    margin: 0;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

nav ul li a:hover {
    color: #666;
}

.logout-btn {
    background-color: #d62828;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

.logout-btn:hover {
    background-color: #9a031e;
}

.update-container {
    width: 80%;
    max-width: 400px;
    margin: 80px auto;
    padding: 30px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    text-align: center;
}

h2 {
    font-weight: bold;
    color: #444;
    flex-grow: 1;
    text-align: center;
    margin: 0;
    margin-bottom: 20px;
}

label {
    margin-top: 10px;
    display: block;
    color: #555;
    font-weight: bold;
    text-align: left;
}

input,
button[type="submit"] {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    margin: 5px 0 15px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

input:focus {
    border-color: #28a745;
    box-shadow: 0 0 5px rgba(40, 167, 69, 0.8);
    outline: none;
    background-color: #f9fff9;
}

.show {
    display: flex;
    text-align: center;
    color: #444;
}

.show input[type="checkbox"] {
    margin: 0 10px 20px 0;
    width: 16px;
    height: 16px;
    accent-color: #28a745;
}

button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 20px 0 0 0;
    font-weight: bold;
    font-size: 1em;
    transition: background-color 0.3s ease-in-out;
}