body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
}

.header {
    position: relative;
    padding: 30px;
}

.logo {
    width: 70px;
    position: absolute;
    left: 50px;
}

.login-container {
    width: 80%;
    max-width: 400px;
    margin: 80px auto;
    padding: 30px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    text-align: center;
}

h2 {
    text-align: center;
    font-weight: bold;
    color: #444;
    margin-bottom: 20px;
}

label {
    margin-top: 10px;
    display: block;
    color: #555;
    font-weight: bold;
    text-align: left;
}

input, select {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    margin: 5px 0 15px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    transition: all 0.3s ease-in-out;
}

input:focus, select:focus, button:focus {
    border-color: #28a745;
    box-shadow: 0 0 5px rgba(40, 167, 69, 0.8);
    outline: none;
    background-color: #f9fff9;
}

button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 12px;
    border-radius: 5px;
    width: 100%;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

button:hover {
    background-color: #218838;
}

.error-message {
    color: red;
    font-size: 14px;
    margin-top: 10px;
    display: none;
}

@media (max-width: 768px) {
    .container {
        width: 90%;
        padding: 20px;
    }

    .logo {
        width: 60px;
    }
}